<footer class=" text-center p-5">
 <div class="contanier my-5">
  <div class="row">

<div class="col-12 py-sm-3 col-md-4 text-white">
<div class="location">
<h3 class="pb-2">LOCATION</h3>
<p>2215 John Daniel Drive</p>
<p>Clark, MO 65243</p>
</div>
</div>



<div class="col-12 col-md-4 text-white py-sm-3">
  <div class="web">
  <h3 class="pb-2">AROUND THE WEB</h3>
 <div class="icons d-flex justify-content-center align-items-center">
 <div><i class="fa-brands fa-facebook fa-xl"></i></div>
 <div><i class="fa-brands fa-linkedin-in fa-xl"></i></div>
 <div><i class="fa-brands fa-twitter fa-xl"></i></div>
 <div><i class="fa-brands fa-github fa-xl"></i></div>
 </div>
  </div>
  </div>



  <div class=" col-12 col-md-4 text-white py-sm-3">
    <div class="about-free">
    <h3 class="py-2">ABOUT FREELANCER</h3>
    <h6 class="fw-normal">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</h6>
    </div>
    </div>
    
</div>
</div>
</footer>


<div class="copyright py-4 text-center text-white">
  <div class="container">
    <h6 class="fw-normal ">Copyright © Your Website 2023</h6>
  </div>
</div>