 <section class="about text-center p-5 mt-5 ">
<div class="container p-5  mt-5">

  <h1 class="display-6 mb-0 fw-bold text-white pt-2">ABOUT COMPONENT</h1> 

          <div class="separator text-white mb-4">
              <div class="separator-line bg-white"></div>
              <div class="separator-icon">
                  <i class="fa-solid fa-star "></i>
              </div>
              <div class="separator-line bg-white"></div>
          </div>

  <div class="about-text pb-3">
  <div class="row d-flex ">
  <div class="col-md-6 text-white">
 <p class="p-2 text-start">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, 
  and JavaScript as well as optional SASS stylesheets for easy customization.</p>

  </div>


  <div class="col-md-6 text-white">
    <p class="p-2 text-start">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, 
     and JavaScript as well as optional SASS stylesheets for easy customization.</p>
   
     </div>
   




 </div>
  </div>









</div>
</section> 
