<section class="contact text-center p-4  mt-5">
  <div class="container p-5">

    <h1 class="display-6 mb-0 fw-bold text-center">CONATCT SECTION</h1> 

    <div class="separator ">
      <div class="separator-line "></div>
      <div class="separator-icon">
          <i class="fa-solid fa-star "></i>
      </div>
      <div class="separator-line"></div>
  
    </div>

    <div class="row">
      <div class="col-md-8 mx-auto">
          <form>
              <div class="mb-4">
                  <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInputName" placeholder="Name">
                      <label for="floatingInputName">Name</label>
                  </div>
              </div>
              <div class="mb-4">
                  <div class="form-floating">
                      <input type="email" class="form-control" id="floatingInputEmail" placeholder="Email Address">
                      <label for="floatingInputEmail">Email Address</label>
                  </div>
              </div>
              <div class="mb-4">
                  <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputPhone" placeholder="Phone Number">
                      <label for="floatingInputPhone">Your Age</label>
                  </div>
              </div>
              <div class="mb-4">
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInputPhone" placeholder="Phone Number">
                    <label for="floatingInputPhone">Your Password</label>
                  </div>
              </div>
              <div class="mb-4 text-start">
                  <button class="btn btn-primary" id="sendMessageButton" type="submit">Send Massage</button>
              </div>
          </form>
      </div>
  </div>







</div>
</section>
