<div class="portfolio p-5 mt-5">
<div class="container mt-3">
  <h1 class="display-6 mb-0 fw-bold text-center">PORTFOLIO COMPONENT</h1> 

  <div class="separator ">
    <div class="separator-line "></div>
    <div class="separator-icon">
        <i class="fa-solid fa-star "></i>
    </div>
    <div class="separator-line"></div>

  </div>

</div>
</div>


<section class="mb-5">
<div class="container mb-5">
<div class="row g-4 mb-5 ">

<div class="col-md-4 cp ">
<div class="item position-relative ">
  <img src="./assets/images/cabin.png" class="w-100" alt="" />
   <div class="layer ">
    <a href="#"data-bs-toggle="modal"data-bs-target="#exampleModal" >
    <i class="fa-solid fa-plus text-white fa-3x "></i>
  </a>
  </div>

   </div>
  </div>
 <!--~ Modal -->
 <div class="modal fade border-0 " id="exampleModal" tabindex="-1"aria-labelledby="exampleModalLabel"aria-hidden="true">
  <div class="modal-dialog ">
  <div class="modal-content">
  <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
  
  <div class="modal-body bg-transparent">
    <img src="./assets/images/cabin.png" class="w-100" alt="" />
                              
      </div>
          </div>
  
            </div>
              </div>      
   <!--~ Modal -->



          <div class="col-md-4 cp">
             <div class="item position-relative">
                <img src="./assets/images/cake.png" class="w-100" alt="" />
                <div class="layer ">
                  <a href="#"data-bs-toggle="modal"data-bs-target="#exampleModal2" >
                  <i class="fa-solid fa-plus text-white fa-3x "></i>
                  </a>
                </div>
             </div>
          </div>

 <!--~ Modal -->
 <div class="modal fade border-0 " id="exampleModal2" tabindex="-1"aria-labelledby="exampleModalLabel"aria-hidden="true">
  <div class="modal-dialog ">
  <div class="modal-content">
  <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
  
  <div class="modal-body bg-transparent">
    <img src="./assets/images/cake.png" class="w-100" alt="" />
                              
      </div>
          </div>
  
            </div>
              </div>      
   <!--~ Modal -->




          <div class="col-md-4 cp">
             <div class="item position-relative">
                <img src="./assets/images/circus.png" class="w-100" alt="" />
                <div class="layer ">
                  <a href="#"data-bs-toggle="modal"data-bs-target="#exampleModal3" >
                  <i class="fa-solid fa-plus text-white fa-3x "></i>
                  </a>
                </div>
             </div>
          </div>

 <!--~ Modal -->
 <div class="modal fade border-0 " id="exampleModal3" tabindex="-1"aria-labelledby="exampleModalLabel"aria-hidden="true">
  <div class="modal-dialog ">
  <div class="modal-content">
  <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
  
  <div class="modal-body bg-transparent">
    <img src="./assets/images/circus.png" class="w-100" alt="" />
                              
      </div>
          </div>
  
            </div>
              </div>      
   <!--~ Modal -->





          <div class="col-md-4 cp">
            <div class="item position-relative">
              <img src="./assets/images/game.png" class="w-100" alt="" />
               <div class="layer ">
                    <a href="#"data-bs-toggle="modal"data-bs-target="#exampleModal4" >
                <i class="fa-solid fa-plus text-white fa-3x "></i>
              </a>
              </div>
               </div>
              </div>
             <!--~ Modal -->
 <div class="modal fade border-0 " id="exampleModal4" tabindex="-1"aria-labelledby="exampleModalLabel"aria-hidden="true">
  <div class="modal-dialog ">
  <div class="modal-content">
  <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
  
  <div class="modal-body bg-transparent">
    <img src="./assets/images/game.png" class="w-100" alt="" />
                              
      </div>
          </div>
  
            </div>
              </div>      
   <!--~ Modal -->




                      <div class="col-md-4 cp">
                         <div class="item position-relative">
                            <img src="./assets/images/safe.png" class="w-100" alt="" />
                            <div class="layer ">   
                               <a href="#"data-bs-toggle="modal"data-bs-target="#exampleModal5" >
                              <i class="fa-solid fa-plus text-white fa-3x "></i>
                               </a>
                            </div>
                         </div>
                      </div>
             <!--~ Modal -->
 <div class="modal fade border-0 " id="exampleModal5" tabindex="-1"aria-labelledby="exampleModalLabel"aria-hidden="true">
  <div class="modal-dialog ">
  <div class="modal-content">
  <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
  
  <div class="modal-body bg-transparent">
    <img src="./assets/images/safe.png" class="w-100" alt="" />
                              
      </div>
          </div>
  
            </div>
              </div>      
   <!--~ Modal -->


                      <div class="col-md-4 cp">
                         <div class="item position-relative">
                            <img src="./assets/images/submarine.png" class="w-100" alt="" />
                            <div class="layer ">
                              <a href="#"data-bs-toggle="modal"data-bs-target="#exampleModal6" >
                              <i class="fa-solid fa-plus text-white fa-3x "></i>
                              </a>
                            </div>
                         </div>
                      </div>
            
             <!--~ Modal -->
 <div class="modal fade border-0 " id="exampleModal6" tabindex="-1"aria-labelledby="exampleModalLabel"aria-hidden="true">
  <div class="modal-dialog ">
  <div class="modal-content">
  <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
  
  <div class="modal-body bg-transparent">
    <img src="./assets/images/submarine.png" class="w-100" alt="" />
                              
      </div>
          </div>
  
            </div>
              </div>      
   <!--~ Modal -->
        


      


      
        </div>
       </div>
  
    </section>


















