<section  class="home text-center  mt-5">
  <div class="container h-100">
      <div class="w-100 h-100 d-flex align-items-center justify-content-center flex-column">
          <img class="master-avatar mb-3 mt-0" src="./assets/images/avataaars.svg" alt="Avatar">

          <h1 class="display-6 mb-0 fw-bold text-white">START FRAMEWORK</h1> 

          <div class="separator text-white">
              <div class="separator-line bg-white"></div>
              <div class="separator-icon">
                  <i class="fa-solid fa-star "></i>
              </div>
              <div class="separator-line bg-white"></div>
          </div>

          <p class="text-white fs-6 fw-normal">
              Graphic Artist - Web Designer - Illustrator
          </p>

      </div>
  </div>
</section>
